{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
<style>
    a{
         color:white;
       }
       .fa{
         font-size:20px;
         padding: 8px 8px;
       } 
</style>
<hr> 
<h1>Les offres</h1>


<h6><a href={{path('createOffre')}}>Ajouter</a></h6>
<table class='table'>
<thead class="thead-dark">
<tr>
  
    <th scope="col">ID</th>
    <th scope="col">Titre</th>
    <th scope="col">Langues</th>
    <th scope="col">Diplome</th>
    <th scope="col">Technologie</th>
    <th scope="col">Expérience minimale</th>
    <th scope="col">Expérience minimale</th>
    <th scope="col">Nombre heures</th>
    <th scope="col">Etat</th>
    <th scope="col">Categorie</th>
    <th scope="col">Actions</th>
    
</thead>
    <tbody>
    {% for offre in offres %} 
  <tr>
    <td>{{offre.id}}</td>
    <td>{{offre.titre}}</td>
    <td>{{offre.langue}}</td>
    <td>{{offre.diplome}}</td>
    <td>{{offre.technologies}}</td>
    <td>{{offre.expmin}}</td>
    <td>{{offre.expmax}}</td>
    <td>{{offre.nbheures}}</td>
    <td>{{offre.etat}}</td>
    <td>{{offre.categorie.nom}}</td>
    <td><button type="button" class="btn btn-success" ><a href={{path('afficheOffreById',{'id':offre.id})}}><i class="fa fa-eye" aria-hidden="true"></i> </a></button>
  <button type="button" class="btn btn-info" >  <a href={{path('modifierOffre',{'id':offre.id})}}><i class="fa fa-pencil" aria-hidden="true"></i> </a></button>
    <button type="button" class="btn btn-danger" ><a href={{path('supprimerOffre',{'id':offre.id})}}><i class="fa fa-trash" aria-hidden="true"></i> </a></button>
   <button type="button" class="btn btn-warning" > <a href={{path('changerEtat',{'id':offre.id})}}><i class="fa fa-times" aria-hidden="true"></i> </a></button>

    </td>
    </tr>
{% endfor %}
</table>
</tbody>
{% endblock %}